# Deployment
IMAGE_REPO=<repo name>

API_VERSION_0=<deployment tag>
API_VERSION_1=<deployment tag>
ACTIVE_INDEX_API=0

FRONTEND_VERSION_0=<deployment tag>
FRONTEND_VERSION_1=<deployment tag>
ACTIVE_INDEX_FRONTEND=0

# Backend
API_HOST=0.0.0.0
API_PORT=1234
FRONTEND_URL=nginx

JWT_SECRET=<jwt secret>

# Frontend
NODE_ENV=production
BACKEND_HOST=nginx
BACKEND_PORT=80
EXPOSED_PORT=8080
VITE_API_URL=/api/v1/
POSTHOG_KEY=<posthog project api key>
POSTHOG_HOST=https://eu.i.posthog.com

# Redis Database
REDIS_HOST=<db host>
REDIS_PORT=<db port>
REDIS_USER=<db user>
REDIS_PASSWORD=<db password>